#main_visible {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

#menu_icon {
    transform: scale(2);
    position: fixed;
    z-index: 10;    
    right: 5vh;
    top: 5vh;
}

#main_hidden {
    height: 100vh;
    width: 100vw;
    background: #ff6200;
    position: relative;

    -webkit-mask-image: url('/Ellipse.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: var(--main_position-x) var(--main_position-y);
    -webkit-mask-size: var(--mask_size);
    -webkit-transition: -webkit-mask-size 0.3s ease;

    mask-image: url('/Ellipse.svg');
    mask-repeat: no-repeat;
    mask-position: var(--main_position-x) var(--main_position-y);
    mask-size: var(--mask_size);
    transition: mask-size 0.3s ease;
}

h1 {
    font-size: 70px;
}

h4 {
    font-size: xx-large;
}

.hidden {
    transform: scale(0.8);
}

.text_mid {
    width: 50vw;
    height: 30vh;
    margin-top: 20vh;
    margin-left: 20vw;
}

.hidden_text_mid {
    margin-top: 10vh;
}

.links {
    margin-top: 10vh;
    position: fixed;
    z-index: 10;
}

.link_logo {
    transform: scale(0.8);
    padding: 5px;
}

.link_logo:hover {
    transform: scale(1.05);
}

.buttons {
    display: flex;
    align-items: center;
    margin-left: 20vw;
    gap: 10px;
    position: fixed;
    z-index: 10;
}

#dropdown {
    position: relative;
    cursor: pointer;
}

#dropdownMenu {
    position: fixed;
    right: 0;
    background-color: #222;
    border: 3px solid, #282828;
    border-radius: 10px 10px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    min-width: 15vw;
}